.login-wrapper {
    background-color: rgb(35,35,35);
    margin: 0 auto;
    margin-top: 15px;
    padding: 3%;
    border-radius: 3%;
    border: 1px solid #000;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input:not([type="checkbox"]){
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    align-items: center;
    margin-bottom: 3px;
    padding: 6px 12px;
    background: rgb(35, 35, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    :focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
    }
    
}

.login-form button{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #4299e1;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    line-height: 26px;
    width: 100%;
    margin-top: 10px;
}

.login-form a{
    color: white;
}

.login-form span{
    color: gray;
}

.login-form input[type="checkbox"]{
    accent-color: gray;
}

